
*.aux
*.ilg
*.lof
*.ind
*.idx
*.log
*.lot
*.mw
*.gz
*.toc
*.xml
*.bcf
*.bbl
*.bib
*.gnuplot
*.table
PSI_Etoile/FULL-POLY/FULL_POLY.pdf
PSI_Etoile/FULL-POLY/FULL_POLY.pdf
Full_Polys/FULL-POLY/FULL_POLY.pdf
*.synctex(busy)
